
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
  }

</style>
<!-- <label>window: {{w}} <br> Height: {{h}}</label> -->
<app-draggable [height]="getHeight()"></app-draggable>
<app-login *ngIf="showLogin" [@simpleFadeAnimation]="'in'" (close)="showForgot = true; showLogin = false;" ></app-login>
<app-forgot (onback)="showForgot = false; showLogin = true;" *ngIf="showForgot" [@simpleFadeAnimation]="'in'" ></app-forgot>